@font-face {
  font-family: "ChulabhornLikit-Bold";
  src: local("ChulabhornLikit-Bold"),
    url("./fonts/ChulabhornLikitText-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ChulabhornLikit";
  src: local("ChulabhornLikit"),
    url("./fonts/ChulabhornLikitText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ChulabhornLikit-Medium";
  src: local("ChulabhornLikit-Medium"),
    url("./fonts/ChulabhornLikitText-Medium.ttf") format("truetype");
}

body {
  background-color: #fd7c9b;
}

.App {
  background-color: white;
  text-align: center;
  padding: 0 0 20px 0;
}

.App-header {
  background-color: #fd7c9b;
  width: 100%;
  height: 30px;
}

/* --------------------Image------------------- */

.image-row {
  display: flex;
  margin: 0 15%;
}

.image-container {
  width: 100%;
  margin: 0.05% 0.05%;
}

.my-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.grayscale-image {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out; /* Optional for smooth transition */
}

/* --------------------Text------------------- */

h1 {
  font-size: 20px;
  font-family: "ChulabhornLikit-Bold";
}

.player-container {
  background-color: #f2f2f2;
  width: 70%;
  margin: 15px auto;
  padding-top: 0.1px;
  padding-bottom: 15px;
  border-radius: 10%;
}

.player {
  font-size: 15px;
  font-family: "ChulabhornLikit-Medium";
  user-select: none;
  cursor: pointer;
  color: #fd7c9b;
}

.cross-out {
  text-decoration: line-through;
  color: gray;
}

/* --------------------Button------------------- */

.reset-button {
  padding: 15px 25%;
  font-size: 20px;
  font-family: "ChulabhornLikit-Bold";
  background-color: #73ad8d;
  color: white;
  border-radius: 20px;
  border: none;
}
