@font-face {
  font-family: "moobmeebb";
  src: local("moobmeebb"),
  url("./fonts/moobmeebb.ttf") format("truetype");

  font-family: "ChulabhornLikit";
  src: local("ChulabhornLikit"),
  url("./fonts/ChulabhornLikitText-Regular.ttf") format("truetype");
}

.App {
  text-align: center;
  margin: 20px auto
}

.grayscale-image {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out; /* Optional for smooth transition */
}

.my-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.image-container {
  width: 100%;
  margin: 0.05% 0.05%;
}

.image-row {
  display: flex;
  margin: 0 15%;
}

.cross-out {
  text-decoration: line-through;
  color: gray;
}

.player {
  font-size: 20px;
  font-family: "ChulabhornLikit";
  user-select: none;
  cursor: pointer;
  display: inline;
  color: #FD7C9B;
}

.topic {
  font-size: 30px;
  font-family: "ChulabhornLikit";
  display: inline;
}

.reset-button {
  padding: 15px 32px;
  font-size: 15px;
  font-family: "ChulabhornLikit";
}