@font-face {
  font-family: "ChulabhornLikit-Bold";
  src: local("ChulabhornLikit-Bold"),
    url("./fonts/ChulabhornLikitText-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ChulabhornLikit";
  src: local("ChulabhornLikit"),
    url("./fonts/ChulabhornLikitText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ChulabhornLikit-Medium";
  src: local("ChulabhornLikit-Medium"),
    url("./fonts/ChulabhornLikitText-Medium.ttf") format("truetype");
}

.App {
  background-color: white;
  text-align: center;
}

.header-image {
  width: 100%;
}

.App-footer {
  background-image: url("/public/image/Tab.PNG");
  background-size: cover;
  width: 100%;
  height: 30px;
  border-top: 2px solid black;
}

/* --------------------Image------------------- */

.location-container {
  margin-bottom: 50px;
}

.image-row {
  display: flex;
  margin: 0 15%;
}

.image-container {
  width: 100%;
  position: relative;
}

.my-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
}

.grayscale-image {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out; /* Optional for smooth transition */
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  color: white;
  font-size: 12px;
  font-family: "ChulabhornLikit";
  text-align: center;
}

.x-overlay {
  position: absolute;
  top: 25%;
  width: 100%;
  color: red;
  font-size: 25px;
  text-align: center;
}

/* --------------------Text------------------- */

.header-text {
  color: #502b23;
  font-size: 25px;
  line-height: 10px;
  font-family: "ChulabhornLikit-Bold";
  -webkit-text-stroke: 1px #c1846f;
}

.player-container {
  background-color: rgba(142, 94, 44, 0.2);
  width: 70%;
  margin: 15px auto;
  padding: 15px 0;
  border-radius: 10%;
}

.player {
  font-size: 15px;
  font-family: "ChulabhornLikit-Medium";
  user-select: none;
  cursor: pointer;
  color: #502b23;
}

.cross-out {
  text-decoration: line-through;
}

/* --------------------Button------------------- */

.reset-button {
  width: 30%;
  margin: 30px auto;
  cursor: pointer;
}

.reset-button-image {
  width: 100%;
}

.information-button {
  position: absolute;
  width: 6%;
  top: 8%;
  left: 4%;
  cursor: pointer;
}

.information-button-image {
  width: 100%;
}
